<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Python CRUD</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        </head>
        <body>

            <div class="col-8 m-auto pt-2 pb-2 text-center">
                <h1>Lista</h1>

            </div>

            <div>
                <table>
                    <tr>
                    <td>
                        <div class= "text-center">
                            <a class="btn btn-outline-dark" href="./form.html">Cadastrar</a>
                        </div>
                    </td>
                    <td>
                        <div class= "text-center">
                            <a class="btn btn-outline-dark" href="./produtos.html">Ver todos</a>
                        </div>
                    </td>

                    <td>
                        <div class= "text-center">
                            <a class="btn btn-outline-dark" href="./delete.html">Deletar Produto</a>
                        </div>
                    </td> 

                     <td>
                        <div class= "text-center">
                            <a class="btn btn-outline-dark" href="./update.html">Atualiza Produtos</a>
                        </div>
                    </td>

                    <td>
                        <div class= "text-center">
                            <a class="btn btn-outline-dark" href="./selectOne.html">Procurar um produto</a>
                        </div>
                    </td>

                    </tr>
                </table>
            </div>

    </body>
</html>